In [4]:
#Set
S1 = {"Dipesh", "Pratistha", "Arun", "Chanda", "Dipesh"}
S1

{'Arun', 'Chanda', 'Dipesh', 'Pratistha'}

In [7]:
#Set operations
#Adding a new element
S1 = {"Dipesh", "Pratistha", "Arun", "Chanda"}
S1.add("Subham")
S1

{'Arun', 'Chanda', 'Dipesh', 'Pratistha', 'Subham'}

In [8]:
#Removing an element
S1 = {'Arun', 'Chanda', 'Dipesh', 'Pratistha', 'Subham'}
S1.remove("Chanda")
S1

{'Arun', 'Dipesh', 'Pratistha', 'Subham'}

In [9]:
#updating an element
S1 = {'Arun', 'Chanda', 'Dipesh', 'Pratistha', 'Subham'}
S1.update(["Shivani","Ram Pratap", "Rajbati"])
S1

{'Arun',
 'Chanda',
 'Dipesh',
 'Pratistha',
 'Rajbati',
 'Ram Pratap',
 'Shivani',
 'Subham'}

In [10]:
#set function 
#union of two sets 
s1 = {"Sal", "Asna", "Bot dhayaro"}
s2 = {78.5, 123, 45}
s1.union(s2)

{123, 45, 78.5, 'Asna', 'Bot dhayaro', 'Sal'}

In [12]:
#Instersection o two sets 
s1 = {"Sal", "Asna", "bot dhayaro"}
s2 = {"salla", "Sal", "katus"}
s1.intersection(s2)

{'Sal'}